$color_1: #fff;
$color_2: #00bfff;
$color_3: rgba(255, 255, 255, 0.7);
$color_4: rgba(255, 255, 255, 0.5);
$background-color_1: #1a1a1a;
$background-color_2: #00bfff;
$background-color_3: #333;
$background-color_4: #00bfff96;